<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <div class="container">
        <div class="row mt-5">
            <div class="row mt-5">
                <h2 class="list-product-title">Tất cả các sản phẩm</h2>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Search by name">
                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="dropdown ml-4">
                        <select class="btn border" id="sorted">
                            <option value="sortBy=created_date&sortOrder=asc" selected>Mới nhất</option>
                            <option value="sortBy=price&sortOrder=asc">Giá tăng dần</option>
                            <option value="sortBy=price&sortOrder=desc">Giá giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Shop Sidebar Start -->
            <div class="col-lg-2 col-md-12" id="filter">
                <input type="hidden" id="filter-state" value={{filter_state}}>
                <input type="hidden" id="order-state" value={{order_state}}>
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo giá</h5>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input price-filter" data-value="" id="price-all">
                        <label class="custom-control-label" for="price-all">Tất cả các giá</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input price-filter price-filter" data-value='{"start": 0, "end": 50}' id="price-1">
                        <label class="custom-control-label" for="price-1">0 - 50000 VND</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input price-filter price-filter" data-value='{"start": 50, "end": 100}' id="price-2">
                        <label class="custom-control-label" for="price-2">50000 - 100000 VND</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input price-filter" data-value='{"start": 100, "end": 500}' id="price-3">
                        <label class="custom-control-label" for="price-3">100000 - 500000 VND</label>

                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input price-filter" data-value='{"start": 500, "end": 1000}' id="price-4">
                        <label class="custom-control-label" for="price-4">500000 - 1000000 VND</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input price-filter" data-value='{"start": 1000, "end": 5000}' id="price-5">
                        <label class="custom-control-label" for="price-5">1000000 - 5000000 VND</label>
                    </div>
                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo loại sản phẩm</h5>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input cat-filter" value = "" id="cat-all">
                        <label class="custom-control-label" for="cat-all">Tất cả sản phẩm</label>
                    </div>
                    {{#each category_list}}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input cat-filter" value="{{category_id}}" id="cat-{{category_id}}">
                        <label class="custom-control-label" for="cat-{{category_id}}">{{category_name}}</label>
                    </div>
                    {{/each}}
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Lọc theo hãng sản xuất</h5>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input brand-filter" value="" id="brand-all" checked>
                        <label class="custom-control-label" for="brand-all">Tất cả các hãng</label>
                    </div>
                    {{#each brand_list}}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input brand-filter" value="{{brand_id}}" id="brand-{{brand_id}}">
                        <label class="custom-control-label" for="brand-{{brand_id}}">{{brand_name}}</label>
                    </div>
                    {{/each}}
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->

            <div class="col-lg-9 col-md-12">
                <div class="group-clothes mt-4" id="products">
                    
                </div>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center" id="nav">

                    </ul>
                </nav>
            </div>
        </div>
    <!-- Core theme JS-->
    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/js/all_product.js"></script>
    
   
</body>